<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--キャッシュの無効化-->
        <setting name="localCacheScope" value="STATEMENT"/>
    </settings>
    <typeHandlers>
        <!--Add typeHandlers in this block-->
        <typeHandler handler="com.accelhack.application.api.shared.handler.NumericEnumHandler"/>
        <typeHandler handler="com.accelhack.application.api.shared.handler.UUIDHandler"/>
        <typeHandler handler="com.accelhack.application.api.shared.handler.OperatorHandler"/>
    </typeHandlers>
</configuration>