<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accelhack.application.api.app.mapper.SampleMapper">
    <resultMap id="sampleDtoResultMap" type="com.accelhack.application.api.app.dto.SampleDto">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="birthday" column="BIRTHDAY"/>
        <result property="isJapanese" column="IS_JAPANESE"/>
    </resultMap>

    <sql id="base-cols">
        SELECT `ID`
             , `NAME`
             , `BIRTHDAY`
             , `IS_JAPANESE`
             , COUNT(*) OVER () AS TOTAL
        FROM YOUR_APPLICATION.`SAMPLE`
    </sql>

    <select id="select" resultMap="sampleDtoResultMap">
        <include refid="base-cols"/>
        WHERE `ID` = #{id}
    </select>

    <select id="selectBy" resultMap="sampleDtoResultMap">
        <include refid="base-cols"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO YOUR_APPLICATION.`SAMPLE`(`NAME`,
                                              `BIRTHDAY`,
                                              `IS_JAPANESE`)
        VALUES (#{name},
                #{birthday},
                #{isJapanese})
    </insert>

    <update id="update">
        UPDATE YOUR_APPLICATION.`SAMPLE`
        SET `ID` = #{id}
        <if test="name != null">
            , `NAME` = #{name}
        </if>
        <if test="birthday != null">
            , `BIRTHDAY` = #{birthday}
        </if>
        <if test="isJapanese != null">
            , `IS_JAPANESE` = #{isJapanese}
        </if>
        WHERE `ID` = #{id}
    </update>

    <delete id="delete">
        DELETE
        FROM YOUR_APPLICATION.`SAMPLE`
        WHERE `ID` = #{id}
    </delete>
</mapper>