<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.accelhack.application.api.shared.mapper.LogMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO API_APPLICATION.API_LOG
        ( `OPERATION_TIME`
        , `OPERATOR`
        , `METHOD`
        , `PATH`
        , `QUERY`
        , `REQUEST_BODY`
        , `STATUS`
        , `REMOTE_IP`
        , `EXECUTION_DURATION_MS`
        , `EXCEPTION`)
        VALUES ( #{operationTime}
               , #{operator.code}
               , #{method}
               , #{path}
               , #{query}
               , #{requestBody}
               , #{status}
               , #{remoteIp}
               , #{executionTimeMs}
               , #{exception})
    </insert>
</mapper>