<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accelhack.application.api.shared.mapper.PolicyMapper">
    <resultMap id="policyDtoResultMap" type="com.accelhack.application.api.shared.dto.PolicyDto">
        <id property="id" column="ID"/>
        <result property="actor" column="ACTOR"/>
        <result property="service" column="SERVICE"/>
        <result property="action" column="ACTION"/>
        <result property="total" column="TOTAL"/>
    </resultMap>

    <sql id="base-cols">
        SELECT `ID`
             , `ACTOR`
             , `SERVICE`
             , `ACTION`
             , COUNT(*) OVER () AS TOTAL
        FROM API_APPLICATION.POLICY
    </sql>

    <select id="selectById" resultMap="policyDtoResultMap">
        <include refid="base-cols"/>
        WHERE `DELETED_AT` IS NULL
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="policyDto.id">
        INSERT INTO API_APPLICATION.POLICY( `ACTOR`
                                             , `SERVICE`
                                             , `ACTION`
                                             , `CREATED_BY`)
        VALUES ( #{policyDto.actor.code}
               , #{policyDto.service.code}
               , #{policyDto.action}
               , #{operator.code})
    </insert>

    <update id="">
        UPDATE API_APPLICATION.POLICY
        SET `DELETED_BY` = #{operator.code}
          , `DELETED_AT` = CURRENT_TIMESTAMP
        WHERE `ID` = #{policyDto.id}
    </update>
</mapper>