<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accelhack.application.api.shared.mapper.RolePolicyMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO API_APPLICATION.ROLE_POLICY(`ROLE_ID`,
                                                   `POLICY_ID`,
                                                   `CREATED_BY`)
        VALUES
        <foreach item="rolePolicyDto" collection="rolePolicyDtoList" separator=",">
            ( #{rolePolicyDto.roleId}
            , #{rolePolicyDto.policyId}
            , #{operator.code})
        </foreach>
    </insert>

    <update id="delete">
        UPDATE API_APPLICATION.ROLE_POLICY
        SET `DELETED_BY` = #{operator.code}
          , `DELETED_AT` = CURRENT_TIMESTAMP
        WHERE
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="rolePolicyDto.roleId != null and rolePolicyDto.roleId > 0">
                AND `ROLE_ID` = #{rolePolicyDto.roleId}
            </if>
            <if test="rolePolicyDto.policyId != null and rolePolicyDto.policyId > 0">
                AND `POLICY_ID` = #{rolePolicyDto.policyId}
            </if>
        </trim>
    </update>
</mapper>