<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accelhack.application.api.shared.mapper.UserRoleMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="userRoleDto.id">
        INSERT INTO API_APPLICATION.USER_ROLE(`USER_ID`,
                                                 `ROLE_ID`,
                                                 `CREATED_BY`)
        VALUES ( #{userRoleDto.userId}
               , #{userRoleDto.roleId}
               , #{operator.code})
    </insert>

    <update id="delete">
        UPDATE API_APPLICATION.USER_ROLE
        SET `DELETED_BY` = #{operator.code}
          , `DELETED_AT` = CURRENT_TIMESTAMP
        WHERE
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="userRoleDto.userId != null and userRoleDto.userId > 0">
                AND `USER_ID` = #{userRoleDto.userId}
            </if>
            <if test="userRoleDto.roleId != null and userRoleDto.roleId > 0">
                AND `ROLE_ID` = #{userRoleDto.roleId}
            </if>
        </trim>
    </update>
</mapper>