<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accelhack.application.api.shared.mapper.UserTokenMapper">
    <resultMap id="userDtoResultMap" type="com.accelhack.application.api.shared.dto.UserTokenDto">
        <id property="id" column="ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="accessToken" column="ACCESS_TOKEN"/>
        <result property="refreshToken" column="REFRESH_TOKEN"/>
        <result property="expiresAt" column="EXPIRES_AT"/>
    </resultMap>

    <select id="selectByUserId" resultMap="userDtoResultMap">
        <![CDATA[
        SELECT `ID`
             , `USER_ID`
             , `ACCESS_TOKEN`
             , `REFRESH_TOKEN`
             , `EXPIRES_AT`
        FROM API_APPLICATION.USER_TOKEN
        WHERE USER_ID = #{userId}
          AND REFRESH_TOKEN = #{refreshToken}
          AND DELETED_AT IS NULL
          AND EXPIRES_AT > CURRENT_TIMESTAMP
        ]]>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="userTokenDto.id">
        INSERT INTO API_APPLICATION.USER_TOKEN( `USER_ID`
                                              , `ACCESS_TOKEN`
                                              , `REFRESH_TOKEN`
                                              , `EXPIRES_AT`
                                              , `CREATED_BY`)
        VALUES ( #{userTokenDto.userId}
               , #{userTokenDto.accessToken}
               , #{userTokenDto.refreshToken}
               , #{userTokenDto.expiresAt}
               , #{operator.code})
    </insert>

    <update id="delete">
        UPDATE API_APPLICATION.USER_TOKEN
        SET DELETED_BY = #{operator.code}
          , DELETED_AT = CURRENT_TIMESTAMP
        WHERE REFRESH_TOKEN = #{userTokenDto.refreshToken}
    </update>
</mapper>